@model IEnumerable<DefinitionTypeDto>

@{
    ViewData["Title"] = "Core Sparks";
}
<div class="row">
    <div class="col-8">
        <h1>Core Sparks</h1>
    </div>
    <div class="col-4">
        <a class="btn btn-primary me-2" asp-action="Create">Create New</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Core Spark
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.OutputType)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.DefinitionType">
                        @Html.DisplayFor(modelItem => item.DefinitionType)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OutputType)
                </td>
            </tr>
        }
    </tbody>
</table>
