@model ControlSpark.Domain.EditModels.MenuEditModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MenuModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Action)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Action)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Argument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Argument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApiUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApiUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Controller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Controller)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayInNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayInNavigation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DomainID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DomainID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DomainUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DomainUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PageContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentController)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentController)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VirtualPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VirtualPath)
        </dd>
    </dl>
</div>
<div>
    @using (Html.BeginForm("Delete", "Menu", new { id = Model.Id, area = "Admin" }, FormMethod.Post))
    {
        <input type="submit" value="Delete" />
    }
</div>
