@using System.Text.Json
@using WebSpark.Portal.Areas.AsyncSpark.Models.GitHub
@model HttpRequestResult<GitHubUser>?

<div class="card shadow-sm">
    <div class="card-header bg-dark text-white">
        <h5 class="card-title mb-0">
            <i class="bi bi-person-circle"></i> GitHub User
        </h5>
    </div>
    <div class="card-body text-center">
        <img src="@Model.ResponseResults.AvatarUrl" alt="Avatar" class="rounded-circle img-thumbnail mb-3" style="width: 150px; height: 150px;">
        <h5 class="card-title">@Model.ResponseResults.Login</h5>
        <i class="bi bi-calendar"></i> Joined GitHub on @Model.ResponseResults.CreatedAt.ToString("MMMM yyyy")
        <p class="text-muted mb-1">@Model.ResponseResults.Bio</p>
        <p class="text-muted">
            <i class="bi bi-geo-alt-fill"></i> @Model.ResponseResults.Location
        </p>
        <a href="@Model.ResponseResults.HtmlUrl" class="btn btn-primary" target="_blank">
            <i class="bi bi-github"></i> View Profile
        </a>
        <ul class="list-group list-group-flush">

            @if (!string.IsNullOrEmpty(Model.ResponseResults.Company))
            {
                <li class="list-group-item">
                    <i class="bi bi-building"></i> Company: @Model.ResponseResults.Company
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.ResponseResults.Blog))
            {
                <li class="list-group-item">
                    <i class="bi bi-building"></i> Blog: <a href="@Model.ResponseResults.Blog">@Model.ResponseResults.Blog</a>
                </li>
            }

            <li class="list-group-item">
                <i class="bi bi-pencil"></i> Public Repos: @Model.ResponseResults.PublicRepos
            </li>
            <li class="list-group-item">
                <i class="bi bi-stars"></i> Followers: @Model.ResponseResults.Followers | Following: @Model.ResponseResults.Following
            </li>
        </ul>
    </div>
    <div class="card-footer text-muted p-1">
        @await Html.PartialAsync("_clientSendRequestFooter", Model)
    </div>
</div>
