@model             WebSpark.Core.Models.RecipeCategoryModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name Details</h1>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div>
    <div class="row">
        <div class="col-6">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
        <div class="col-6">
            <dl class="row">
            </dl>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                DisplayOrder
            </th>
            <th>
                Icon
            </th>
            <th>
                Parent Title
            </th>
            <th>
                Url
            </th>
            <th>
                Virtual Path
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recipes.OrderBy(o => o.Name))
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details","Main", new {id=item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorNM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AverageRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsApproved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipeURL)
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
