@using AsyncSpark.HttpGetCall
@model IEnumerable<HttpGetCallResults>

@{
    ViewData["Title"] = "Bulk Calls";
}

<h1>Bulk Calls</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Iteration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElapsedMilliseconds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletionDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Iteration)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ElapsedMilliseconds)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CompletionDate)
            </td>
        </tr>
}
    </tbody>
</table>
