@model WebsiteVM
@using Westwind.AspNetCore.Markdown;
@{
    var menu = Model?.Menu?.Where(w => w.Title == Model.PageTitle).FirstOrDefault();
    if (menu == null)
    {
        menu = new MenuModel();
    }
    string siteStyle = $"/site/{Model?.SiteName}/css/site.css";
    string canonicalUrl = "";
    string? styleUrl = Model?.StyleList.Where(w => w.name == Model.WebsiteStyle).FirstOrDefault()?.cssCdn;
    string? themeName = Model?.WebsiteStyle;
    string templateName = "mom";
    if (Model is not null)
    {
        if (String.IsNullOrEmpty(styleUrl))
        {
            Random random = new Random();
            int index = random.Next(Model.StyleList.Count());

            styleUrl = Model.StyleList.ElementAt(index).cssCdn;
            themeName = Model.StyleList.ElementAt(index).name;
        }
        canonicalUrl = Model.SiteUrl + menu.Url;
        templateName = Model.Template;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model?.PageTitle - @Model?.WebsiteName </title>
    <link rel="canonical" href="@canonicalUrl" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="@styleUrl" />
    <link rel="stylesheet" href="@siteStyle" />
    <style type="text/css">
       @RenderSection("Styles", required: false)
    </style>
</head>
<body class="d-flex flex-column min-vh-100">

    <partial name="_MainMenu.cshtml" />

    <main role="main" class="container pb-3 bg-body">
        @RenderBody()
    </main>

    <footer class="container-fluid mt-auto border-top footer text-muted bg-dark d-print-none">
        <partial name="_Footer.cshtml" />
    </footer>

    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/theme/@templateName/js/site.js"></script>
</body>
</html>
