@model ControlSpark.MineralManager.Entities.CollectionItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CollectionItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecimenNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecimenNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nickname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MineralVariety)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MineralVariety)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MineNm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MineNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowWherePurchased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowWherePurchased)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorageLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecimenNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecimenNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExCollection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExCollection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeightCm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeightCm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WidthCm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WidthCm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThicknessCm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThicknessCm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeightIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeightIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WidthIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WidthIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThicknessIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThicknessIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightGr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightGr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightKg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightKg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFeatured)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFeatured)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collection.CollectionNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationCity.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationCountry.CountryNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationState.StateNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryMineral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryMineral.MineralNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchasedFromCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchasedFromCompany.CompanyNm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CollectionItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
