@model IEnumerable<MenuModel>

@{
    ViewData["Title"] = "Menus";
}

<h1>Menus</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DomainName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VirtualPath)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "Edit", new {id=item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DomainName) | @Html.DisplayFor(modelItem => item.DomainID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Icon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VirtualPath)
                </td>
            </tr>
        }
    </tbody>
</table>
