@model List<DefinitionResponseDto>

<div class="container">
    <h2>Prompt Responses</h2>
    <table id="displayTable" class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Updated</th>
                <th>Prompt Tokens</th>
                <th>Completion Tokens</th>
                <th>Total Tokens</th>
                <th>Time MS</th>
                <th>User Prompt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="/Prompt/UserPrompts/Details/@item.ResponseId">@item.ResponseId</a></td>
                    <td>@item.Updated.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@item.PromptTokens</td>
                    <td>@item.CompletionTokens</td>
                    <td>@item.TotalTokens</td>
                    <td>@item.TimeMS</td>
                    <td>@item.UserPrompt</td>
                </tr>
            }
        </tbody>
    </table>
</div>
