@model             UserPromptDto

<h1>@Model.UserPrompt</h1>

<div class="container">
    <div class="accordion" id="gptAccordion">
        @foreach (var item in Model.DefinitionResponses.Select((value, index) => new { Value = value, Index = index }))
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading@(item.Index)">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(item.Index)" aria-expanded="false" aria-controls="collapse@(item.Index)">
                        @item.Value.GPTName
                    </button>
                </h2>
                <div id="collapse@(item.Index)" class="accordion-collapse collapse" aria-labelledby="heading@(item.Index)">
                    <div class="accordion-body">
                        <p>@Html.Raw(item.Value.ContentToString())</p>
                    </div>
                    <div class="p-2">
                        <a class="text-warning font-weight-bold" href="#" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="hover focus" data-bs-placement="right" data-bs-title="@item.Value.GPTName" data-bs-content="@item.Value.ToString()">
                            Hover for details
                        </a>
                    </div>
                    <div class="accordion-footer">
                        <div class="align-content-end ">
                            <span>Updated: @item.Value.Updated</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<form asp-action="Refresh">
    <input type="hidden" asp-for="UserPrompt" />
    <input type="submit" value="Refresh" class="btn btn-primary" />
</form>