@model IEnumerable<UserPromptDto>

@{
    ViewData["Title"] = "Prompts";
    var text = "";
    var displayText = "";
}

<div class="row mb-3">
    <div class="col-8">
        <h1>Prompts</h1>
    </div>
    <div class="col-4 text-end">
        <a class="btn btn-primary me-2" asp-action="Edit" asp-route-id="0">Create New</a>
    </div>
</div>

<table id="displayTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserPrompt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefinitionType)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.UserPrompt.Length > 60)
            {
                text = item.UserPrompt;
                displayText = text.Substring(0, 60) + "...";
            }
            else
            {
                text = item.UserPrompt;
                displayText = item.UserPrompt;
            }
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.UserPromptId" title="@text">@displayText</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefinitionType)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            var table = $('#displayTable').DataTable(
                {
                    topStart: 'info',
                    topEnd: 'search',
                    paging: false,
                    scrollY: '40vh',
                    scrollCollapse: true,
                    stateSave: false,
                    colReorder: true
                });
        });
    </script>
}
