@model IEnumerable<DefinitionDto>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-8">
        <h1>Spark Variants</h1>
    </div>
    <div class="col-4">
        <a class="btn btn-primary me-2" asp-action="Edit" asp-route-id="0">Create New</a>
    </div>
</div>

<table id="displayTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefinitionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutputType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperature)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.DefinitionId">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefinitionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OutputType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Temperature)
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            $('#displayTable').DataTable({
                paging: false,        // Disable pagination
                scrollY: '50vh',      // Enable vertical scrolling and set the height
                scrollCollapse: true,  // Optional: Reduce the height of the table when there are fewer rows
                stateSave: true,
                colReorder: {
                    realtime: true, // update the table as you drag the columns (default: true)
                    fixedColumnsLeft: 1, // number of columns on the left that cannot be reordered
                    fixedColumnsRight: 1 // number of columns on the right that cannot be reordered
                }
            });
        });
    </script>
}