@model ControlSpark.RecipeManager.ViewModels.RecipeVM
@using ControlSpark.RecipeManager.Models
@using ControlSpark.Domain
@{
    Layout = "../layouts/_Layout.cshtml";
}
@section Styles {

}
<br />
<br />

<div class="card">
    <div class="card-header">Recipe Catalog</div>
    <div class="card-body">

        <div class="row">
            <div class="col-2 bg-light d-none d-lg-block">
                <div class="list-group">
                    @foreach (var cat in Model.CategoryList)
                    {
                        if (cat.Id == Model.Category?.Id)
                        {
                            <a href="@cat.Url" class="list-group-item list-group-item-action  list-group-item-primary">@cat.Name</a>
                        }
                        else
                        {
                            <a href="@cat.Url" class="list-group-item list-group-item-action">@cat.Name</a>
                        }
                    }
                </div>
            </div>

            <div class="col-10 bg-light">
                @if (Model?.Category?.Id == 0)
                {
                    Model.Category = new RecipeCategoryModel();
                    <div class="container mt-5 mb-5">
                        <div class="d-flex justify-content-between mb-3"> <span>Categories</span></div>
                        <div class="row g-2">
                            @foreach (var cat in Model.CategoryList)
                            {
                                <div class="col-md-3">
                                    <div class="card p-2 py-3 text-center">
                                        <h5 class="mb-0">
                                            @if (cat.Id == Model.Category?.Id)
                                            {
                                                <a href="@cat.Url" class="list-group-item list-group-item-action  list-group-item-primary">@cat.Name</a>
                                            }
                                            else
                                            {
                                                <a href="@cat.Url" class="list-group-item list-group-item-action">@cat.Name</a>
                                            }
                                        </h5>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <h1>@Html.Raw(Model.Category.Name)</h1>
                    <div class="container mt-5 mb-5">
                        <div class="d-flex justify-content-between mb-3">
                            <span>Recipes</span>
                        </div>
                        <div class="row g-2">
                            @foreach (var recipe in Model.RecipeList.Where(w => w.RecipeCategory.Id == Model.Category.Id).ToArray())
                            {
                                <div class="col-md-3">
                                    <div class="card p-2 py-3 text-center">
                                        <div class="ratings mt-2">
                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        </div>
                                        <h5 class="mb-0"><a href="@recipe.RecipeURL" class="">@recipe.Name</a></h5>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="card-footer">
    </div>
</div>

