@model IEnumerable<WebsiteModel>

@{
    ViewData["Title"] = "Websites";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="displayTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteStyle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteTemplate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebsiteUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UseBreadCrumbURL)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details","Website", new {id=item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteStyle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteTemplate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WebsiteUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UseBreadCrumbURL)
                </td>
            </tr>
        }
    </tbody>
</table>
@section PageScripts {
    <script>
        $(document).ready(function ()
        {
            var table = $('#displayTable').DataTable(
                {
                    paging: false,
                    scrollY: '40vh',
                    scrollCollapse: true,
                    stateSave: false,
                    colReorder: true
                });
        });
    </script>
}
