@{
    ViewData["Title"] = "Analysis Results";
}

<h2>Analysis Results</h2>

<h3>Summary Statistics</h3>
<p>@ViewBag.SummaryStats</p>

<h3>Skewness</h3>
<p>Skewness: @ViewBag.Skewness (@ViewBag.SkewDirection)</p>

<h3>Histogram</h3>
<img src="@ViewBag.Histogram" alt="Histogram" class="img-fluid" />

<h3>Boxplot</h3>
<img src="@ViewBag.Boxplot" alt="Boxplot" class="img-fluid" />
