@model List<DefinitionResponseDto>

<div class="container">
    <h2>Prompt Responses</h2>
    <table id="displayTable" class="table">
        <thead>
            <tr>
                <th>Updated</th>
                <th>Prompt Tokens</th>
                <th>Completion Tokens</th>
                <th>Total Tokens</th>
                <th>Time MS</th>
                <th>User Prompt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Updated.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@item.PromptTokens</td>
                    <td>@item.CompletionTokens</td>
                    <td>@item.TotalTokens</td>
                    <td>@item.TimeMS</td>
                    <td>
                        <a asp-action="Details" asp-controller="UserPrompts" asp-route-id="@item.UserPromptId">@Html.DisplayFor(modelItem => item.UserPrompt)</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
