@model             WebsiteVM
@using Westwind.AspNetCore.Markdown;
@{
    var menu = Model?.Menu?.Where(w => w.Title == Model.PageTitle).FirstOrDefault();
    if (menu == null)
    {
        menu = new MenuModel();
    }
    string siteStyle = $"/site/{Model?.WebsiteStyle}/css/site.css";
    string siteJs = $"/site/{Model?.WebsiteStyle}/js/site.js";
    string siteJsBootstrap = $"/lib/bootstrap/js/bootstrap.bundle.min.js";
    string styleUrl = Model?.StyleList.Where(w => w.name == Model.WebsiteStyle).FirstOrDefault()?.cssCdn;
        
    if (String.IsNullOrEmpty(styleUrl))
    {
        Random random = new Random();
        int index = random.Next(Model.StyleList.Count());
        styleUrl = Model.StyleList.ElementAt(index).cssCdn;
    }

    string canonicalUrl = $"{Model?.SiteUrl}{menu?.Url?.Trim('/')??""}";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.PageTitle - @Model.WebsiteName </title>
    <link rel="canonical" href="@canonicalUrl" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="@styleUrl" />
    <link rel="stylesheet" href="@siteStyle" />
    <style type="text/css">
       @RenderSection("Styles", required: false)
    </style>
</head>
<body class="d-flex flex-column min-vh-100" style="padding-top: 5vh;">
<header>
    <partial name="_MainMenu.cshtml" />
</header>

<br clear="all" />

<main role="main" class="container bg-body " >
    @RenderBody()
</main>

<footer class="container-fluid mt-auto border-top footer text-muted bg-dark d-print-none">
<partial name="_Footer.cshtml" />
</footer>

<script src="@siteJsBootstrap" ></script>
<script src=@siteJs></script>

</body>
</html>
